process {

    withName: 'RANK_VARIANTS:GENMOD_ANNOTATE' {
        ext.prefix = { "${meta.id}_genmod_annotate" }
        ext.args = { [
            '--annotate_regions',
            '--genome-build 38',
            '--temp_dir ./'
            ].join(' ') }
    }

    withName: 'RANK_VARIANTS:GENMOD_MODELS' {
        ext.prefix = { "${meta.id}_genmod_models" }
        ext.args = "--whole_gene --temp_dir ./"
    }

    withName: 'RANK_VARIANTS:GENMOD_SCORE' {
        ext.prefix = { "${meta.id}_genmod_score" }
        ext.args = "--rank_results"
    }

    withName: 'RANK_VARIANTS:GENMOD_COMPOUND' {
        ext.prefix = { "${meta.id}_genmod_compound" }
        ext.args = "--temp_dir ./"
    }

    withName: 'RANK_VARIANTS:BCFTOOLS_VIEW' {
        ext.prefix = { "${meta.id}_bcftools_view" }
        ext.args = "--output-type z --write-index=tbi"
    }
}
